body {
    text-align: center;
    height: 100vh;
    margin: 0;
    background-color: black; /* 背景を黒に設定 */
    color: white; /* テキストを白に設定 */
    padding-top: 50px; /* 上部の余白を追加 */
}

.container {
    max-width: 800px; /* 必要に応じて幅を調整 */
    margin: auto; /* 中央に配置 */
    margin-top: 20px; /* コンテナの上部の余白を追加 */
}

form {
    display: inline-block;
    text-align: left;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 65%; /* 横幅の70%に設定 */
    margin: auto; /* 中央に配置 */
    border: none; /* テーブルのラインを黄緑に設定 */
    margin-top: 20px; /* テーブル上部の余白を追加 */
    margin-bottom: 20px; /* テーブル下部の余白を追加 */
}

th {
    background-color: black; /* thタグの背景を黒に設定 */
    color: white; /* thタグのテキストを白に設定 */
    border: 2px solid #31ff26;
    text-align: center; /* 中央揃えに設定 */
    padding: 8px;
}

td {
    text-align: center; /* 中央揃えに設定 */
    padding: 8px;
    border-bottom: none !important;
    border-right: none !important;
    border-left: none !important;
}

input[type="text"], input[type="submit"] {
    margin-bottom: 10px;
}

input[type="button"] {
    margin-bottom: 10px;
    cursor: pointer;
}

a {
    color: white;
}

.a5,.a6{
    text-decoration: none; /* リンクの下線を削除 */
}

.a1 {
    margin-left: 100px;
    margin-right: 100px;
}

.aa,.a1,.a2{
    font-size: 20px;
}

#form2{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: solid 2px #31ff26;
    max-width: 400px;
    height: 30px;
    border-radius: 4px;
}

#sbox3{
    flex: 1;
    height: 23px;
    width:400px ;
    padding: 0 15px;
    border-radius: initial;
    background:transparent;
    border:none;
    outline:0;
}

#sbtn4{
    width: 30px;
    background:transparent;
    border-radius: initial;
    border:none;
    color: black;
    font-size:15px;
    cursor: pointer;
}
#sbtn4:hover{
  background: #7fbfff;
  color:#fff;
}